/* Adicionando fontes */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dela+Gothic+One&family=Denk+One&display=swap');

:root{
    --primaria: #00421D;
    --secundaria: #027333;
    --terciaria: #333333;
    --texto:#DDD5D5;
    --fundo:#00000043;
}


/* resetando configurações */
*{
    font-family: "Denk One", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}
/* mudando fundo */
body{
    width: 100vw;
    background-image: url(Assets/fundo.png);
    background-size: contain;
    overflow-x: hidden;
}
/* criando o cabeçalho interativo */
header{
    right: 0;
    max-width: 70%;
    top: -180px;
    position: fixed;
    z-index: 1;
}
header img{
    width: 700px;
    height: 450px;
    right: 0;
}
.tentaculo{
    height: 400px;
    position: absolute;
    right: -515px;
    transform: rotate(-35deg);
    transition: 1s;
}
.tentaculo:hover{
    transform: translateX(-400px) translateY(60px);
    transition: 1s;
}

header ul{
    display: flex;
    justify-content: space-between;
}
header ul li{
    position: absolute;
}
header ul li a{
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: var(--texto);
    text-shadow: 3px 3px 3px #00000053;
}
.livroh{
    position: absolute;
    right: -170px;
    top: -260px;
}
.autorh{
    position: absolute;
    right: -10px;
    top: -70px;
}

.comentsh{
    position: absolute;
    right: 0px;
    top: -5px;
}
header ul li:nth-child(2){
    right: 380px;
    top: 265px;
}
header ul li:nth-child(3){
    right: 180px;
    top: 205px;
}

/* Iniciando o Main e o section*/

.texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto h1, h2{
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.361);
}
.texto .corlivro{
    color: var(--primaria);
}
.texto .autor{
    color: var(--secundaria);
}
.texto p{
    background-color: var(--fundo);
    border-radius: 15px;
    font-size: 1.2em;
    padding: 15px;
    color: var(--texto);
    margin-bottom: 10px;
}
.info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 30px 60px 30px 10px;
}
.imagem{
    max-width: 350px!important;
    border-radius: 15px;
}
.btn{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.btn button{
    color: var(--texto);
    background-color: var(--secundaria);
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    font-family: "Creepster", serif;
    font-size: 1.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.521);
}
.btn button:hover{
    color: lightgray;
    background-color: #025225;
    transition: 0.4s;
    transform: scale(1.1);
}
.container{
    max-width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container h3{
    font-family: "Creepster", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--secundaria);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.877);
}
.content a{
    width: 100%;
    height: 100%;
}
.content img{
    max-width: 90%;
    min-height: 150px;
    max-height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.434);
}
.content img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.content{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.content button{
    display: none;
}

/* comentarios */
.comentsarea{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.comentarios{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-around;
}
.conta{
    width: 20%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.comentarios textarea{
    width: 80%;
    height: 80%;
}
.comentarios input{
    padding: 5px;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}
.comentarios img{
    max-width: 100px;
    max-height: 150px;
}

/* footer */
footer p{
    height: 30px;
    font-size: 0.9em;
    color: var(--texto);
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--terciaria);
    padding-top: 10px;
}

.item{
    display: none;
}

.item.ativo{
    display: block;
}
@keyframes livro{
    from{
        left: 50%;
        opacity: 0;
    }
}
.livros.livroativo{
    animation: livro 0.5s ease-out 1;
}

@keyframes pisca{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#livrohead p:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
.livros{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.curvar {
    margin: auto;
    position: relative;
    transform-origin: top center;
    transform: rotate(40deg);
    height: 100px;
    width: 100px;
  }
  
  .curvar div {
    display: inline-block;
    font-size: 1.5em;
    height: 150px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top center;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }

  .curva {
    margin: auto;
    position: relative;
    transform-origin: top center;
    transform: rotate(40deg);
    height: 100px;
    width: 100px;
  }
  
  .curva div {
    display: inline-block;
    font-size: 1.5em;
    height: 150px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: top left;
    text-align: center;
    display: flex;
    align-items: flex-end;
  }

.curv {
    margin: auto;
    position: relative;
    transform-origin: bottom center;
    height: 150px;
    width: 100px;
}

.curv div {
    display: inline-block;
    font-size: 1.5em;
    height: 150px;
    width: 80px;
    position: absolute;
    left: 0%;
    top: 0;
    transform-origin: bottom center;
    rotate: -20deg;

}
